.idea/
node_modules/
.env
dist/
.next/
out/
.DS_Store
.git
docker/.env

apps/backend/local.db
apps/backend/node_modules/
apps/backend/dist/
apps/backend/drizzle/
apps/frontend/node_modules/
apps/frontend/.next/
