.idea/
node_modules/
.env
dist/
.next/
out/
.DS_Store
.git

apps/backend/local.db
apps/backend/node_modules/
apps/backend/dist/
apps/backend/drizzle/
apps/frontend/node_modules/
apps/frontend/.next/


bin/create-backend-skeleton.sh
bin/create-frontend-skeleton.sh
